.movie-card{
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.details{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .card-img {
      width: 100px;
      height: 200px;
    }
  }